<html>
    
    <head>
        
        
        <!-- CHART.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.js"></script>
        
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <!-- THESE NEXT THREE ARE BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        
        <link href="/style.css" type="text/css" rel="stylesheet" />
        
  
        <script>
        $(document).ready(function() {
            
            //Have poll_id loaded from the server with the html response
            var poll_id = "<%= poll_id %>";
            
            
            //Figure out what option they selected for their vote
            $(".option").click(function() {
                
                var vote = $(this)[0].innerText;
                
                //Put their vote into an object and send it to the server for processing
                var my_vote = {
                    my_vote: "yes",
                    poll_id: poll_id,
                    vote: vote
                }
                
                $.get("/updatepoll", my_vote, function(data) {
                    
                    if (data === "Success") {
                        document.location.href = "/poll/" + poll_id; 
                    }
                }); //End .get
                
            }); //End option click
            
            
            //If user clicks plus button give them one row to add an extra option
            //And then give a submit button
            var count = 1;
            $(".add_option").click(function() {
                
                if (count <= 1) {
                    $(".add_option").before("<input type='text' class='form-control custom_vote' placeholder='Create Option'>");
                    
                    $(".add_option").before("<button type='button' class='btn btn-success submit'>Submit</button>");
                    
                    $(".add_option").remove();
                    count++;
                }
                
            }); //End add option click

            //Submit custom choice if user selects to
            //Display error if no choice is made
            var submit_count = 0;
            
            $(".vote").on("click", ".submit", function() {
                
                var vote = document.getElementsByClassName("custom_vote")[0].value;
                
                var my_vote = {
                    my_vote: "yes",
                    poll_id: poll_id,
                    vote: vote
                }
                    
                if (vote != "") {

                    $.get("/updatepoll", my_vote, function(data) {

                        if(data === "Success") {
                            document.location.href = "/poll/" + poll_id;
                        }

                    }); //End get
                    
                } //End if
                
                else {
                    submit_count++;
                    if (submit_count <= 1) {
                        $(".vote").append("<br /><br /><p class='error' style='color: red;'>Please enter an option.</p>");
                    }
                }
               
                
                
            }); //End submit click
            
            
            
            $(".share").click(function() {
                
                var message = "I created a poll! Click here to check it out: ";
                var link = "https://vote-app.herokuapp.com/poll/" + poll_id;
                window.location.href = "https://twitter.com/intent/tweet?text=" + message + link;
                
                
            });
            
            
            $(".delete").click(function() {
                           
                var data = 
                    {
                        delete_poll: "yes",
                        poll_id: poll_id
                    }
                
                $.get("/updatepoll", data, function(data) {
                    
                    if (data === "Success") {
                        window.location.href = "/"; 
                    }

                }); //End .get
                
            }); //End delete click
            
            
            
        }); //End whole document
        
        
        
        
        
        </script>
        
    </head>
    
    
    
     
    <body>
        
        <div class="container-fluid">
        
        
            <div class="header">
               
               <div class="title col-md-6">
               <h1 class="text-center">Free Code Camp Voting App</h1>
               </div>
               
               
               
               <div class="menubar col-md-6">
                   
                   <% if (auth === "yes") { %>
                   <ul class="nav nav-pills usernav">
                       <li role="presentation"> <a href="/">Home</a></li>
                       <li role="presentation"><a href="/user">Profile</a></li>
                       <li role="presentation"><a href="/newpoll">New Poll</a></li>
                       <li role="presentation"><a href="/logout">Logout</a></li>
                   </ul>
                  <% } else { %>

                   <ul class="nav nav-pills usernav">
                       <li role="presentation"> <a href="/">Home</a></li>
                       <li role="presentation"><a href="/login/twitter">Login With Twitter</a></li>
                   </ul>
                 <% } %>
                   
               </div> <!-- end menubar -->
               
               
            </div> <!-- end header -->
            
            
            
            <div class="main col-md-10 col-md-offset-1">
                <h2 class="text-center"><%= poll_name %></h2><br />
                
                
                <div class="row">
                    
                    
                    <div class="vote col-md-4">
                        
                        <h3 class="text-center"><ins>Vote</ins></h3>
                        <% for (var j in poll_results) { %>
    
                            <button type="button" class="btn btn-primary btn-block option"><%= poll_results[j].option %></button>
    
                        <% } %>
                        
                        <% if (auth === "yes") { %>
                        <button type="button" class="btn btn-success add_option"><i class="glyphicon glyphicon-plus"></i></button>
                        
                        <% } %>
                        
                        
                        
                    </div> <!-- end col md 4 -->
 
                    
                    <div class="result col-md-8">
                        
                        <!-- CHART.JS CHARTING INFORMATION GOES IN THIS SECTION -->
                        
                                <canvas id="myChart" width="400" height="250"></canvas>
                                <script>

                                var labels = [];
                                var votes = [];
                                <% for (var a in poll_results) { %>
                                    labels.push("<%= poll_results[a].option %>");
                                    votes.push("<%= poll_results[a].votes %>");
                                    <% } %>


                                //Template used by chart.js documentation
                                var ctx = document.getElementById("myChart");
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: 'Number of Votes',
                                            data: votes,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255,99,132,1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero:true
                                                }
                                            }]
                                        }
                                    }
                                });
                                </script>
                        
                        
                        <! -- END OF THE CHART.JS SECTION -->
                        
                       <% if (isMyPoll === "yes") { %>
                            <button type="button" class="btn btn-success btn-block share">Share</button>
                            <button type="button" class="btn btn-danger btn-block delete">Delete</button>
                       <% } %>
                        
                        
                    </div> <!-- end col md 8 -->
                    
        
                
                </div> <!-- end row -->
                
                
                
                

            </div> <!-- end main -->
        
        
        
        
        
        
        </div> <!-- end fluid container -->
    
    </body>


</html>